.header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    color: $white;
    padding: 2rem 0 0 0;
    position: relative;
    z-index: 1;
    transform: translate3d(0, 0.4rem, 0);
    @media screen and (max-width: $breakpoint__tablet) {
      padding: 1rem 0 0 0;
    }
    
    &__wrapper {
      border-bottom: 5px solid #f9b233;
        
    }


    &__left-side {
        display: flex;
        align-items: center;
    }
    
    .logo {
		img {
			transform: translateY(0.74vw);
			max-height: 11.4rem;
			margin-right: 2rem;
			max-width: 25vw;
			display: block;
			@media screen and (max-width: $breakpoint__tablet) {
				margin-right: 1rem;
			}
      	}
    }
    
}


.header-content {
    &__title {
        font-size: 2.4rem;
        line-height: 1;
        margin: 0;
        text-align: left;
        @media screen and (max-width: $breakpoint__phone) {
            font-size: 1.6rem;
        }
    }

    &__caption {
        font-size: 1.8rem;
        color: $green;
        @media screen and (max-width: $breakpoint__phone) {
            font-size: 1.4rem;
        }
    }
}

.burgerMenu {
    background-color: rgba($dark, 0.5);
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 5px;
    z-index: 20;
    display: none;
    @media screen and (max-width: $breakpoint__tablet) {
        display: block;
    }
    &:hover {
      cursor: pointer;
    }
  
    .bar {
      width: 80%;
      height: 10%;
      position: absolute;
      left: 50%;
      margin-left: -40%;
      transition: transform 0.3s 0.3s;
      &:before {
        border-radius: 10px;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: #fff;
        transition: transform 0.3s;
      }
  
      &--top {
        transform: translateY(200%);
      }
  
      &--middle {
        transform: translateY(450%);
      }
  
      &--bottom {
        bottom: 0;
        transform: translateY(-200%);
      }
    }
  
    &--open {
      .bar {
        transition: transform 0.3s;
        &:before {
          transition: transform 0.3s 0.3s;
        }
  
        &--top {
          transform: translateY(450%);
          &:before {
            transform: rotate(45deg);
          }
        }
  
        &--middle {
          transform: translateY(450%);
          &:before {
            transform: rotate(45deg);
          }
        }
  
        &--bottom {
          transform: translateY(-450%);
          &:before {
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
  
