.video-banner {
    position: relative;

    &__title-container {
        position: absolute;
        bottom: 12vw;
        width: 100%;
    }

    h1 {
        font-size: 8.6rem;
        font-size: 5vw;
        line-height: 1;
    }
}