.video-banner {
    position: relative;
    // width: 1440px;
    // max-width: 90vw;
    // margin: 0 auto;

    &__title-container {
        position: absolute;
        bottom: 12vw;
        width: 100%;
    }

    h1 {
        font-size: 8.6rem;
        font-size: 5vw;
    }

    // &__wrapper {
    //     background-color: #E4E4E4;
    // }
}